/* MODAL OVERLAY */
.modal{
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn .3s ease;
}

/* MODAL BOX */
.modal-content{
    width: 350px;
    padding: 28px;
    background: rgba(255,255,255,0.13);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
    position: relative;
    animation: popIn .3s ease;

    /* ✅ CENTER CONTENT */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* TITLE */
.auth-title{
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 6px;
}

/* SUBTITLE */
.auth-subtitle{
    text-align: center;
    font-size: 14px;
    opacity: 0.75;
    margin-bottom: 18px;
}

/* INPUT WRAPPER (ICON INSIDE INPUT) */
.input-wrapper{
    display: flex;
    align-items: center;
    gap: 12px;

    width: 100%;
    padding: 12px;
    margin: 8px 0;

    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}

/* ICON */
.input-icon{
    font-size: 18px;
    opacity: 0.85;
}

/* INPUT FIELD */
.input-wrapper input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
}

/* PLACEHOLDER VISIBILITY */
.input-wrapper input::placeholder{
    color: rgba(255,255,255,0.85);
    opacity: 1;
}

/* FORGOT PASSWORD */
.forgot{
    font-size: 13px;
    text-align: left;
    margin: 6px 0 10px;
    cursor: pointer;
    opacity: 0.75;
    
}

/* BUTTON */
.modal-btn{
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 12px;
    background: rgba(255,255,255,0.25);
    border: 1px solid rgba(255,255,255,0.4);
    color: white;
    cursor: pointer;
    font-weight: 600;
}

/* SWITCH TEXT */
.switch-text{
    text-align: center;
    font-size: 14px;
    margin-top: 14px;
}

.switch-link{
    margin-left: 6px;
    color: #c9c4ff;
    cursor: pointer;
    font-weight: 600;
}

/* CLOSE BUTTON */
.close-btn{
    position: absolute;
    top: 12px;
    right: 14px;
    font-size: 22px;
    cursor: pointer;
    opacity: 0.7;
}

/* password eye icon */
.passowrd-toggle{
    cursor: pointer;
    font-size: 18px;
    opacity: 0.8;
    display: flex;
    align-items: center;
}

.passowrd-toggle:hover{
    opacity: 1;
}

/* ANIMATIONS */
@keyframes fadeIn{
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes popIn{
    from { transform: scale(0.85); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
